:root {
  color-scheme: light dark;

  --safe-top: env(safe-area-inset-top);
  --safe-right: env(safe-area-inset-right);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
}

html, body, #root { height: 100%; }

body { background: var(--mantine-color-body); }